<div class="row isotope-grid" style="margin-top:50px ; margin-left:50px ">
    {{#each products}}
    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
        <!-- Block2 -->
        <div class="block2">
            <div class="block2-pic hov-img0 label-new" data-label="New">
                <div class="block2-pic hov-img0">
                    <img src="/product-image/{{this.product.images.[0]}}" alt="IMG-PRODUCT" style="height:20rem ;">
                </div>
            </div>

            <div class="block2-txt flex-w flex-t p-t-14" style="margin-left: 20px; margin-top: 15px;">
                <div class="block2-txt-child1 flex-col-l ">
                    
								<h4>{{this.product.name}}</h4>
								<h6>{{this.product.category}}</h6>
								<h6>RS:{{this.product.price}}</h6>
                                <h6>quantity  :   {{this.quantity}}</h6>

                </div>
								


								
									



            </div>
        </div>
    </div>
    {{/each}}
</div>